body
{
    
background-image: url("/assets/light.jpg");
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.header
{
    height: 10vh;
    width: 100%;
}
.board
{
    height:80vh;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.562);
    
}

.btnPosition
{
    position: absolute;
    top: 20vh;
}

.btnClick
{
    height: 80px;
    width: 80px;
    margin: 50px;
    border-radius: 50%;
    border:solid 1px black;
    background-color: white;
}

#btnThema
{
    border-radius: 5px;
    height: 40px;
    background-color: rgb(30, 30, 31);
    /* background-color: rgb(255, 255, 255); */
    border: none;
    color: white;
}

.right
{
   float: right;
}

.start
{
    background-color: rgb(255, 238, 0);
    color: black;
    border: none;
    height: 30px;
    width: 100px;
}